<section class="taxonomy animate-in">
  <% if (page.category) { %>
  <h1 class="section-title">分类：<%= page.category %></h1>
  <div class="posts-list">
    <% (posts || []).forEach(post => { %>
    <article class="post-card">
      <time><%= date(post.date, 'YYYY-MM-DD') %></time>
      <a href="<%= url_for(post.permalink) %>"><%= post.title %></a>
    </article>
    <% }) %>
  </div>
  <% } else { %>
  <h1 class="section-title">分类</h1>
  <div class="taxonomy-cloud">
    <% (categories || []).forEach(cat => { %>
    <a href="<%= url_for('/categories/' + cat.name + '/') %>" class="taxonomy-item">
      <span class="name"><%= cat.name %></span>
      <span class="count"><%= cat.count %></span>
    </a>
    <% }) %>
  </div>
  <% } %>
</section>
