<section id="archive-list">
  <h1 class="archive-title">归档</h1>
  <% var last_year = 0; %>
  <% posts.forEach(function(post) { %>
  <% var year = new Date(post.date).getFullYear(); %>
  <% if (year !== last_year) { %>
  <% if (last_year !== 0) { %></section><% } %>
  <h2 class="archive-year"><%= year %></h2>
  <section class="year-<%= year %>">
  <% last_year = year; %>
  <% } %>
  <div class="archive-item">
    <a class="item-title" href="<%= url_for(post.path) %>"><%= post.title %></a>
    <span class="item-date"><%= date(post.date, 'MM-DD') %></span>
  </div>
  <% }); %>
  </section>
</section>
