<div class="content-list">
  <h1 class="list-title"><%= page.tag ? '#' + page.tag : '标签' %></h1>
  <% if (page.tag && posts && posts.length) { %>
  <ul class="category-items">
    <% posts.forEach(function(post) { %>
    <li>
      <a href="<%= url_for(post.path) %>"><%= post.title %></a>
      <span class="count"><%= date(post.date, 'YYYY-MM-DD') %></span>
    </li>
    <% }); %>
  </ul>
  <% } else if (!page.tag) { %>
  <div class="tag-cloud-list">
    <% site.tags.forEach(function(tag) { %>
    <a href="<%= url_for('/tags/' + tag.name + '/') %>"><%= tag.name %> (<%= tag.posts.length %>)</a>
    <% }); %>
  </div>
  <% } %>
</div>
